*{
    margin: 0%;
}
html{
    background-color: rgba(169, 228, 255, 0.664);
}
nav{
    background-color:  rgba(40, 66, 87, 0.800);
    padding: 15px;
    text-align: center;
    color: rgb(223, 240, 255);
    font-size: 18px;
}
h1{
    font-size: 18px;
}
.button{
    border-style: double;
    border-radius: 25px;
    width: 120px;
    height: 35px;
    border-color: rgb(52, 123, 255);
    background-color:  rgb(66, 95, 119);
    color: rgb(223, 240, 255);
    font-size: 18px;
}
hr{
    height: 1px;
    background-color: rgb(66, 95, 119);
}
#foto{
    padding: 100px;
}
#section{
    box-sizing: content-box;
    display: inline-block;
}